{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
<h1>Upload File</h1>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.teacher_name.label }}<br>
    {{ form.teacher_name }}<br><br>

    {{ form.subject.label }}<br>
    {{ form.subject }}<br><br>

    {{ form.remark.label }}<br>
    {{ form.remark }}<br><br>

    {{ form.file.label }}<br>
    {{ form.file }}<br><br>

    {{ form.submit }}
</form>

<br>
<a href="{{ url_for('files') }}">Back to Files</a>
{% endblock %}